html {font-family:'GorDIN Black', 'Bahncshrift SemiBold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
cursor: not-allowed;
padding: 0px;
margin: 0px;
background: white;}

.halflife {font-family: 'BoxRocket', 'HalfLife2', sans-serif ;
margin: 0px;
padding: 0px;
color: orangered;
text-align: center;}

.hevvsuit {color: orangered;}

.cls {margin: 10px ;}

button {
    background-color: whitesmoke;
color: black;
border-radius: 0px;
border: outset black;
padding: 10px;
display: block;
box-shadow: 2px 2px 10px rgb(120, 119, 119);
margin-left: 17px;
margin-bottom: 10px;
}

audio {
    height: 100px;
display: inline;
border: 0px;
padding: 0px;
margin: 0px;
font-family: 'GorDIN Black', 'Bahncshrift SemiBold', 'Trebuchet Source', 'Trebuchet MS', sans-serif;}

.imgclass {
margin: 0px;
padding: 0px;
display: inline;
float: left;
}

button {
    font-family: 'GorDIN Black', 'Bahncshrift SemiBold', 'Trebuchet Source', 'Trebuchet MS', sans-serif;
}

button:hover {
    border: gray inset;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
    
}

.usernmn {color: blue;}

p {text-shadow: 2px 0.1px 10px black;}

.flash2 {text-align: unset;
margin-left: 35px;}

.bc1 {
text-align: center;
color: white;}

.class {display: inline;
margin: 4%;
padding :0px;
float: left;}

hr {margin: 30px;}

img {display: inline;
float: left;
margin-top: 0% !important;
padding : 0px;
margin-bottom: 0px;}

.slashdot {background-color: black;
    border-radius: 9px;
margin: 0% ;}

.noclick {background-color: black;
    border-radius: 9px;
margin: 0%;}

.onclick {text-transform: capitalize;}

.strong01 {column-count: 2;
column-gap: 40px;
column-rule: 1px solid black;
font-family: 'Trebuchet Source', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-bottom: 10px !important;
margin-top: 0px !important;}

h2 {column-span: all;}

.roman {list-style-type: upper-roman;}

a {color: white;}

.alpha {list-style-type: lower-alpha;}

.sv_square {list-style-type: square;}

h1,h2,h3,h4 {text-align: center;}

.charset {text-decoration: underline;
color: blue;}

.paddin {color: white;
text-align: center;}

#windowframe {background-color: gainsboro;
overflow: scroll;
width: 50%;
height: 300px;
padding: 20px;
}

.shim5 {font-family:'Trebuchet Source', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}